* {
    margin: 0;
    padding: 0;
}
ul li{
    padding:  0;
    list-style: none;
}
body {
    background-color: #f4f4f4;
}
.demo {
    padding: 10px;
}
h3 {
    /* padding-top: 16px; */
    /* margin-top: 25px; */
    font-size: 16px;
    font-weight: 400;
    color: #3e3e3e;
    position: relative;
}

.btn {
    width: 100%;
    border: 0;
    outline: 0;
    -webkit-appearance: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 14px;
    padding-right: 14px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    overflow: visible;
    height: 42px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #ffffff;
    line-height: 42px;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    background-color: #04be02;
    margin-bottom: 15px;
}

.desc {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4em;
    margin-bottom: 5px;
    color: #8d8c92;
}